.header{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 2rem;
    align-items: center;
    background-color: #efeeec;

    .header__image{
        height: 100px;
        width: 100px;
        margin: 0 1.5rem;
    }

    .header__link{
        font-size:large;
        font-weight: bold;
        text-decoration: none;
        color: black;

        backface-visibility: hidden;
        transform: translateZ(0);
        transition: transform 0.2s;
    }

    .header__link:hover{
        transform: scale(1.1) translate(0, 12%);
    }
}

.welcome-section{
    text-align: center;
}

@media screen and (max-width: 426px) {
    .header{
        gap: 1rem;

        .header__image{
            margin: 0;
        }
    }
}


